# Pandas intro

By the end of this lecture, students should feel comfortable with:
* Loading data into pandas
* Summarizing data by column or by aggregate group
* Handling missing values
* Selecting portions of data by index or with a mask
* Manipulating data in pandas by applying functions, creating columns, etc.

In [1]:
import pandas as pd

## Loading Data

Let's take a look at some data and see how pandas can help us navigate.  

This dataset about cereal lives on [Kaggle](https://www.kaggle.com/crawford/80-cereals) and originally comes from [these project datasets](https://perso.telecom-paristech.fr/eagan/class/igr204/datasets).

In [2]:
df = pd.read_csv('https://bit.ly/2JRmGC2')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [4]:
df.describe()

         calories    protein        fat  ...     weight       cups     rating
count   77.000000  77.000000  77.000000  ...  77.000000  77.000000  77.000000
mean   106.883117   2.545455   1.012987  ...   1.029610   0.821039  42.665705
std     19.484119   1.094790   1.006473  ...   0.150477   0.232716  14.047289
min     50.000000   1.000000   0.000000  ...   0.500000   0.250000  18.042851
25%    100.000000   2.000000   0.000000  ...   1.000000   0.670000  33.174094
50%    110.000000   3.000000   1.000000  ...   1.000000   0.750000  40.400208
75%    110.000000   3.000000   2.000000  ...   1.000000   1.000000  50.828392
max    160.000000   6.000000   5.000000  ...   1.500000   1.500000  93.704912

[8 rows x 13 columns]

In [5]:
df.head()

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3     1.0  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3     1.0  1.00  33.983679
2                   All-Bran   K    C        70  ...      3     1.0  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3     1.0  0.50  93.704912
4             Almond Delight   R    C       110  ...      3     1.0  0.75  34.384843

[5 rows x 16 columns]

From `.info()` it looks like we don't have any null values in this dataset.  But check out the final row for Almond Delight.  It looks like the authors of this dataset have used -1 to signify missing values.  We could convert this now, or we could use arguments of `.read_csv()` to help us out.  Let's also set the cereal name to be the index of our dataframe.

In [9]:
df = pd.read_csv('https://bit.ly/2JRmGC2', 
                 na_values = -1,
                 index_col = 0
                )

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77 entries, 100% Bran to Wheaties Honey Gold
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mfr       77 non-null     object
 1   type      77 non-null     object
 2   calories  77 non-null     int64
 3   protein   77 non-null     int64
 4   fat       77 non-null     int64
 5   sodium    77 non-null     int64
 6   fiber     77 non-null     float64
 7   carbo     76 non-null     float64
 8   sugars    76 non-null     float64
 9   potass    75 non-null     float64
 10  vitamins  77 non-null     int64
 11  shelf     77 non-null     int64
 12  weight    77 non-null     float64
 13  cups      77 non-null     float64
 14  rating    77 non-null     float64
dtypes: float64(7), int64(6), object(2)
memory usage: 9.6+ KB

In [11]:
df.head()

                          mfr type  calories  ...  weight  cups     rating
name                                          ...
100% Bran                   N    C        70  ...     1.0  0.33  68.402973
100% Natural Bran           Q    C       120  ...     1.0  1.00  33.983679
All-Bran                    K    C        70  ...     1.0  0.33  59.425505
All-Bran with Extra Fiber   K    C        50  ...     1.0  0.50  93.704912
Almond Delight              R    C       110  ...     1.0  0.75  34.384843

[5 rows x 15 columns]

`.read_csv()` has a ton of built in parameters to help you correctly format your data as you load it into pandas.  For example, you can:

- set how your data is separated with `sep` (e.g. ',' for commas or '\t' for tabs)
- only load a portion of your data with `nrows`
- convert numbers like 2,000 to integers with `thousands`

To see all available options for any object or function in Jupyter, use the question mark.

In [12]:
pd.read_csv?

The result of `.read_csv()` is a dataframe, the main data structure of pandas.  Dataframes are made up of columns and rows, each of which are pandas series.

In [13]:
type(df)

pandas.core.frame.DataFrame

Note that the calories column can be referred to with either 
- square brackets  
- dot methodology

This is true only if the column name is a valid Python variable; column names with spaces or other special characters can only be refered to using square brackets.

In [14]:
type(df['calories'])   #calories column

pandas.core.series.Series

In [15]:
type(df.calories)   #also the calories column

pandas.core.series.Series


We can access rows of dataframes with `.loc` and the row index.

In [16]:
type(df.loc['100% Bran'])   #100% Bran row

pandas.core.series.Series

In [17]:
df.loc['100% Bran']

mfr              N
type             C
calories        70
protein          4
fat              1
sodium         130
fiber           10
carbo            5
sugars           6
potass         280
vitamins        25
shelf            3
weight           1
cups          0.33
rating      68.403
Name: 100% Bran, dtype: object

We can also access rows of dataframes with `iloc` and the integer location of the index

In [18]:
df.iloc[0]

mfr              N
type             C
calories        70
protein          4
fat              1
sodium         130
fiber           10
carbo            5
sugars           6
potass         280
vitamins        25
shelf            3
weight           1
cups          0.33
rating      68.403
Name: 100% Bran, dtype: object

## Exploring Data

After getting a quick look at your data with `.head()` and `.info()`, you will also want to explore individual columns.

In [19]:
df.calories.describe()

count     77.000000
mean     106.883117
std       19.484119
min       50.000000
25%      100.000000
50%      110.000000
75%      110.000000
max      160.000000
Name: calories, dtype: float64

In [20]:
df.sugars.mean()

7.026315789473684

In [21]:
df.mfr.value_counts()

K    23
G    22
P     9
Q     8
R     8
N     6
A     1
Name: mfr, dtype: int64

The result of `.value_counts()` is itself a series with the column's categorical values as its index!

In [22]:
vc = df.mfr.value_counts()

type(vc)

pandas.core.series.Series

In [23]:
vc.loc['K']

23

## Filtering Data

Often times you will want to explore select portions of your data.  You can create and apply masks to filter your data.

In [24]:
mask = (df.calories > 100)

The mask you just created is really just logical `True` and `False` values for each row, telling you if the condition holds for that observation.

In [25]:
mask

name
100% Bran                    False
100% Natural Bran             True
All-Bran                     False
All-Bran with Extra Fiber    False
Almond Delight                True
                             ...
Triples                       True
Trix                          True
Wheat Chex                   False
Wheaties                     False
Wheaties Honey Gold           True
Name: calories, Length: 77, dtype: bool

When you apply the mask only rows with `True` values are kept.

In [26]:
df[mask].head(10)

                        mfr type  calories  ...  weight  cups     rating
name                                        ...
100% Natural Bran         Q    C       120  ...    1.00  1.00  33.983679
Almond Delight            R    C       110  ...    1.00  0.75  34.384843
Apple Cinnamon Cheerios   G    C       110  ...    1.00  0.75  29.509541
Apple Jacks               K    C       110  ...    1.00  1.00  33.174094
Basic 4                   G    C       130  ...    1.33  0.75  37.038562
Cap'n'Crunch              Q    C       120  ...    1.00  0.75  18.042851
Cheerios                  G    C       110  ...    1.00  1.25  50.764999
Cinnamon Toast Crunch     G    C       120  ...    1.00  0.75  19.823573
Clusters                  G    C       110  ...    1.00  0.50  40.400208
Cocoa Puffs               G    C       110  ...    1.00  1.00  22.736446

[10 rows x 15 columns]

This more direct approach also works.

In [27]:
df[df.calories > 100].head(10)

                        mfr type  calories  ...  weight  cups     rating
name                                        ...
100% Natural Bran         Q    C       120  ...    1.00  1.00  33.983679
Almond Delight            R    C       110  ...    1.00  0.75  34.384843
Apple Cinnamon Cheerios   G    C       110  ...    1.00  0.75  29.509541
Apple Jacks               K    C       110  ...    1.00  1.00  33.174094
Basic 4                   G    C       130  ...    1.33  0.75  37.038562
Cap'n'Crunch              Q    C       120  ...    1.00  0.75  18.042851
Cheerios                  G    C       110  ...    1.00  1.25  50.764999
Cinnamon Toast Crunch     G    C       120  ...    1.00  0.75  19.823573
Clusters                  G    C       110  ...    1.00  0.50  40.400208
Cocoa Puffs               G    C       110  ...    1.00  1.00  22.736446

[10 rows x 15 columns]

To filter on multiple columns or on multiple values, just continue chaining together logical statements with logical operators: and (`&`), or (`|`).

In [28]:
mask = (df.calories > 100) & (df.sugars < 8) & ((df.mfr == 'K') | (df.mfr == 'G'))

In [29]:
df[mask]

                            mfr type  calories  ...  weight  cups     rating
name                                            ...
Cheerios                      G    C       110  ...    1.00  1.25  50.764999
Clusters                      G    C       110  ...    1.00  0.50  40.400208
Cracklin' Oat Bran            K    C       110  ...    1.00  0.50  40.448772
Crispix                       K    C       110  ...    1.00  1.00  46.895644
Just Right Crunchy  Nuggets   K    C       110  ...    1.00  1.00  36.523683
Kix                           G    C       110  ...    1.00  1.50  39.241114
Nutri-Grain Almond-Raisin     K    C       140  ...    1.33  0.67  40.692320
Rice Krispies                 K    C       110  ...    1.00  1.00  40.560159
Special K                     K    C       110  ...    1.00  1.00  53.131324
Total Corn Flakes             G    C       110  ...    1.00  1.00  38.839746
Triples                       G    C       110  ...    1.00  0.75  39.106174

[11 rows x 15 columns]

## Handling Missings

There are only four missing values in this whole dataset, but let's review how we could handle those.

In [30]:
df.isna().head(10)

                             mfr   type  calories  ...  weight   cups  rating
name                                               ...
100% Bran                  False  False     False  ...   False  False   False
100% Natural Bran          False  False     False  ...   False  False   False
All-Bran                   False  False     False  ...   False  False   False
All-Bran with Extra Fiber  False  False     False  ...   False  False   False
Almond Delight             False  False     False  ...   False  False   False
Apple Cinnamon Cheerios    False  False     False  ...   False  False   False
Apple Jacks                False  False     False  ...   False  False   False
Basic 4                    False  False     False  ...   False  False   False
Bran Chex                  False  False     False  ...   False  False   False
Bran Flakes                False  False     False  ...   False  False   False

[10 rows x 15 columns]

In [31]:
df.isna().sum()  #or .sum(axis=1) to sum across rows

mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       1
sugars      1
potass      2
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

For the purpose of practicing two different techniques, let's:
- drop rows that have missing carbohydrate or sugar values
- fill in the missing potassium values with the median

In [32]:
df.shape

(77, 15)

In [33]:
df.dropna(subset=['carbo','sugars']).head()

                          mfr type  calories  ...  weight  cups     rating
name                                          ...
100% Bran                   N    C        70  ...     1.0  0.33  68.402973
100% Natural Bran           Q    C       120  ...     1.0  1.00  33.983679
All-Bran                    K    C        70  ...     1.0  0.33  59.425505
All-Bran with Extra Fiber   K    C        50  ...     1.0  0.50  93.704912
Almond Delight              R    C       110  ...     1.0  0.75  34.384843

[5 rows x 15 columns]

In [34]:
df.dropna(subset=['carbo','sugars']).shape

(76, 15)

In [35]:
df.shape  #oops!

(77, 15)

Remember to add `inplace=True` if you want to change the underlying dataframe!

In [36]:
df.dropna(subset=['carbo', 'sugars'], inplace=True)

In [37]:
df.shape

(76, 15)

Now for filling in the potassium values.

In [38]:
potass_median = df.potass.median()

potass_median

90.0

In [39]:
df.potass.fillna(potass_median, inplace=True)

In [40]:
df.head()

                          mfr type  calories  ...  weight  cups     rating
name                                          ...
100% Bran                   N    C        70  ...     1.0  0.33  68.402973
100% Natural Bran           Q    C       120  ...     1.0  1.00  33.983679
All-Bran                    K    C        70  ...     1.0  0.33  59.425505
All-Bran with Extra Fiber   K    C        50  ...     1.0  0.50  93.704912
Almond Delight              R    C       110  ...     1.0  0.75  34.384843

[5 rows x 15 columns]

## Applying Functions to Data

Our current data about each cereal's vitamin content only contains three distinct values.

In [41]:
df.vitamins.value_counts()

25     63
0       7
100     6
Name: vitamins, dtype: int64

Let's create a new column in the dataframe to tell us whether or not each cereal contains at least a vitamin level of at least 25.

In [42]:
df['vitamin_at_least_25'] = df.vitamins >= 25

In [43]:
df.head()

                          mfr type  ...     rating  vitamin_at_least_25
name                                ...
100% Bran                   N    C  ...  68.402973                 True
100% Natural Bran           Q    C  ...  33.983679                False
All-Bran                    K    C  ...  59.425505                 True
All-Bran with Extra Fiber   K    C  ...  93.704912                 True
Almond Delight              R    C  ...  34.384843                 True

[5 rows x 16 columns]

### .apply()

What if we want to classify each cereal as having a "low", "medium", or "high" level of vitamins?  Well, it would be pretty easy to create a function to do this if we just have one value.

In [56]:
def get_vitamin_level(vitamins):
    if vitamins > 99:
        return 'high'
    elif vitamins > 24:
        return 'medium'
    else:
        return 'low'

In [57]:
get_vitamin_level(100)

'high'

In [58]:
get_vitamin_level(25)

'medium'

Now we will use `.apply()` to apply this function to every value in the vitamin column.

In [59]:
df.vitamins.apply(get_vitamin_level)

name
100% Bran                    medium
100% Natural Bran               low
All-Bran                     medium
All-Bran with Extra Fiber    medium
Almond Delight               medium
                              ...
Triples                      medium
Trix                         medium
Wheat Chex                   medium
Wheaties                     medium
Wheaties Honey Gold          medium
Name: vitamins, Length: 76, dtype: object

In [60]:
df['vitamin_level'] = df.vitamins.apply(get_vitamin_level)

In [61]:
df.head()

                          mfr type  ...  vitamin_perc    manufacturer
name                                ...
100% Bran                   N    C  ...           25%         Nabisco
100% Natural Bran           Q    C  ...            0%     Quaker Oats
All-Bran                    K    C  ...           25%        Kelloggs
All-Bran with Extra Fiber   K    C  ...           25%        Kelloggs
Almond Delight              R    C  ...           25%  Ralston Purina

[5 rows x 19 columns]

You can also use lambda functions within the `.apply()`

In [62]:
df['vitamin_perc'] = df.vitamins.apply(lambda x: str(x)+'%')

In [63]:
df.head(20)

                          mfr type  ...  vitamin_perc    manufacturer
name                                ...
100% Bran                   N    C  ...           25%         Nabisco
100% Natural Bran           Q    C  ...            0%     Quaker Oats
All-Bran                    K    C  ...           25%        Kelloggs
All-Bran with Extra Fiber   K    C  ...           25%        Kelloggs
Almond Delight              R    C  ...           25%  Ralston Purina
Apple Cinnamon Cheerios     G    C  ...           25%   General Mills
Apple Jacks                 K    C  ...           25%        Kelloggs
Basic 4                     G    C  ...           25%   General Mills
Bran Chex                   R    C  ...           25%  Ralston Purina
Bran Flakes                 P    C  ...           25%            Post
Cap'n'Crunch                Q    C  ...           25%     Quaker Oats
Cheerios                    G    C  ...           25%   General Mills
Cinnamon Toast Crunch       G    C  ...           25%   General Mills
Clusters                    G    C  ...           25%   General Mills
Cocoa Puffs                 G    C  ...           25%   General Mills
Corn Chex                   R    C  ...           25%  Ralston Purina
Corn Flakes                 K    C  ...           25%        Kelloggs
Corn Pops                   K    C  ...           25%        Kelloggs
Count Chocula               G    C  ...           25%   General Mills
Cracklin' Oat Bran          K    C  ...           25%        Kelloggs

[20 rows x 19 columns]

### .map()

`.apply()` is a very helpful function and so is `.map()`.  Let's say we want to convert the currently encoded manufacturer column into the actual names of the manufacturers and we have this dictionary to help us.

In [64]:
mfr_dict = {
    'A': 'Am Home Food Prods',
    'G': 'General Mills',
    'K': 'Kelloggs',
    'N': 'Nabisco',
    'P': 'Post',
    'Q': 'Quaker Oats',
    'R': 'Ralston Purina'
}

All we need to do is map this dictionary onto our current manufacturer column.

In [65]:
df.mfr.map(mfr_dict)

name
100% Bran                           Nabisco
100% Natural Bran               Quaker Oats
All-Bran                           Kelloggs
All-Bran with Extra Fiber          Kelloggs
Almond Delight               Ralston Purina
                                  ...
Triples                       General Mills
Trix                          General Mills
Wheat Chex                   Ralston Purina
Wheaties                      General Mills
Wheaties Honey Gold           General Mills
Name: mfr, Length: 76, dtype: object

In [66]:
df['manufacturer'] = df.mfr.map(mfr_dict)

In [67]:
df.head()

                          mfr type  ...  vitamin_perc    manufacturer
name                                ...
100% Bran                   N    C  ...           25%         Nabisco
100% Natural Bran           Q    C  ...            0%     Quaker Oats
All-Bran                    K    C  ...           25%        Kelloggs
All-Bran with Extra Fiber   K    C  ...           25%        Kelloggs
Almond Delight              R    C  ...           25%  Ralston Purina

[5 rows x 19 columns]

Note that the information currently in your dataframe should be the keys for the mapping dictionary; the dictionary's values will be returned in the new column.

The differences between `.apply()`, `.map()`, and `.applymap()` can be subtle.  Check out [this reference](https://www.geeksforgeeks.org/difference-between-map-applymap-and-apply-methods-in-pandas/) for further reading.

## Grouping and Aggregating Data

Finally, let's refresh the concept of grouping data within pandas.

What is the median calories per serving of cereal for each manufacturer?

In [75]:
df.groupby('manufacturer').calories.median()

manufacturer
Am Home Food Prods    100
General Mills         110
Kelloggs              110
Nabisco                90
Post                  110
Quaker Oats           100
Ralston Purina        110
Name: calories, dtype: int64

In [76]:
df.groupby('manufacturer').calories.median().sort_values(ascending=False)

manufacturer
Ralston Purina        110
Post                  110
Kelloggs              110
General Mills         110
Quaker Oats           100
Am Home Food Prods    100
Nabisco                90
Name: calories, dtype: int64

We can group by multiple attributes by passing a list of columns to the `.groupby()`.

In [77]:
df.groupby(['manufacturer', 'type'])[['calories']].median()

                         calories
manufacturer       type
Am Home Food Prods H          100
General Mills      C          110
Kelloggs           C          110
Nabisco            C           90
                   H          100
Post               C          110
Quaker Oats        C          100
Ralston Purina     C          110

Grouping by multiple columns results in a multi-level index.  You can reset your index if you'd prefer these to be columns.

In [78]:
df.groupby(['manufacturer', 'type'])[['calories']].median().reset_index()

         manufacturer type  calories
0  Am Home Food Prods    H       100
1       General Mills    C       110
2            Kelloggs    C       110
3             Nabisco    C        90
4             Nabisco    H       100
5                Post    C       110
6         Quaker Oats    C       100
7      Ralston Purina    C       110

You can perform aggregations on multiple columns.

In [79]:
df.groupby('manufacturer')[['calories', 'sugars']].median()

                    calories  sugars
manufacturer
Am Home Food Prods       100     3.0
General Mills            110     8.5
Kelloggs                 110     7.0
Nabisco                   90     0.0
Post                     110    10.0
Quaker Oats              100     6.0
Ralston Purina           110     5.5

You can also do multiple aggregrations at once by using `.agg()` and passing a list of aggregations.

In [80]:
df.groupby('manufacturer').calories.agg(['mean', 'std', 'median', 'count'])

                          mean        std  median  count
manufacturer
Am Home Food Prods  100.000000        NaN     100      1
General Mills       111.363636  10.371873     110     22
Kelloggs            108.695652  22.218818     110     23
Nabisco              86.666667  10.327956      90      6
Post                108.888889  10.540926     110      9
Quaker Oats          94.285714  31.547394     100      7
Ralston Purina      115.000000  22.677868     110      8

Finally, to apply different aggregation functions to the columns, pass a dictionary to `.agg()`.

In [81]:
(df
 .groupby('manufacturer')[['mfr','calories', 'sugars', 'rating']]
 .agg({
     'mfr': 'count',
     'calories': 'median',
     'sugars': 'mean',
     'rating': 'mean'
 })
)

                    mfr  calories    sugars     rating
manufacturer
Am Home Food Prods    1       100  3.000000  54.850917
General Mills        22       110  7.954545  34.485852
Kelloggs             23       110  7.565217  44.038462
Nabisco               6        90  1.833333  67.968567
Post                  9       110  8.777778  41.705744
Quaker Oats           7       100  6.142857  41.785647
Ralston Purina        8       110  6.125000  41.542997